
body {
  background-color: white;
  overflow-x: hidden;
}

.welcomeBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 60px);
}

h1 {
  color: black;
}

.navigation {
  display: flex;
  width: 100vw;
  background-color: black;
  z-index: 100;
}

.navigation ul {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  list-style: none;
  flex-wrap: wrap;
  top: 0;
  margin: 0;
  padding: 1rem;
  background-color: black;
  z-index: 100;
}

.navigation li {
  text-decoration: none;
  font-weight: bold;
}

.navigation a {
  color: white;
  font-size: 1.2rem;
  display: inline-block;
  transition-duration: .5s;
  transition: transform 0.2s ease;
}

.navigation a:hover {
  cursor: pointer;
  transform: translateY(-3px);
}


.welcomeBox img {
  height: 20rem;
  width: auto;
  border-radius: 50%;
  border: 5px solid black;
  align-items: center;
}

.visuals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skills-marquee {
  overflow-x: hidden;  
  overflow-y: visible;       
  white-space: nowrap;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.lang {
  width: 5rem;
  height: auto;
  transition: transform .3s ease;
}

.lang:hover {
  transform: translateY(-8px);
}

.showcase {
  display: flex;
  padding: 1rem 0;
  gap: 4rem;           
  margin-right: 4rem;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.icon {
  font-size: 3rem;
  color: black;
  transition-duration: .3s;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  box-shadow: 0 5px 5px grey;
  outline: none;
  margin-top: 5rem;
}

.about-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.about-text {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

#align {
  margin-left: 8rem;
}

.icon:hover {
  color: rgb(81, 81, 242);
}

h3 {
  color: black;
}

.maroon {
  color: maroon;
}

.orange {
  color: orange;
}

.text {
  width: 50vw;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(30px);        /* start slightly lower */
  animation: fadeUp 1.2s ease-out forwards;
  animation-delay: 0.2s;              /* optional delay */
}

.fade-in-up-later {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1.2s ease-out forwards;
  animation-delay: 4s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}